/* header  */

.header {
    position: fixed;
    z-index: 1;
    height: 100px;
    box-shadow: 0px 2px #888888;
    border-color: transparent transparent #000 transparent;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.content {
    background-image: url("./img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header__heading {
    color: var(--black-color);
    font-size: 2rem;
    line-height: 100px;
}

.header-icon {
    display: flex;
}

.header__list-info {
    flex-grow: 1;
}

.header__list-info>ul {
    display: flex;
    justify-content: space-between;
}

.header__list-info ul li:hover a {
    opacity: 0.6;
    color: var(--black-color);
}

.header__list-info li a {
    font-weight: bold;
    color: var(--text-color);
    font-weight: 600;
    font-size: 2rem;
    line-height: 100px;
    text-transform: uppercase;
    padding: 0 1rem;
    text-shadow: 0px 0px 0px #fff, 0px 0px 0px rgba(144, 8, 8, 0.15);
}

a {
    text-decoration: none;
}

.header__list-info_hover::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    height: 10px;
    width: 0;
    background-color: #FF6651;
    transition: all .4s ease-in-out;
    animation: runColor2 ease 3s infinite;
}

.header__list-info_hover:hover::after {
    position: absolute;
    width: 50%;
    transform: translateX(100%);
}


/* .header__subsnav li, */

.header__list-info1 {
    position: relative;
}

.header__subsnav {
    width: 300px;
    position: absolute;
    bottom: -150%;
    left: 10px;
    background-color: var(--primary-color);
    border-radius: 4px;
    display: none;
    animation: fadein linear .5s;
    z-index: 1;
}

.header__list-info1:hover .header__subsnav {
    display: block;
}

.header__subsnav li {
    padding: 1rem;
    width: 100%;
    color: var(--white-color);
    font-size: 1.8rem;
}

.header__subsnav li:hover {
    opacity: 0.7;
    cursor: pointer;
}

.header__list-info2 {
    position: relative;
}

.header__list-info2:hover .header__subsnav2 {
    display: flex;
}

.header__subsnav2 li {
    color: #fff;
    font-size: 1.8rem;
}

.header__list-info3 {
    position: relative;
}

.header__list-info4 {
    position: relative;
}

.header__subsnav2,
.header__subsnav4,
.header__subsnav3 {
    position: absolute;
    top: 70%;
    right: -16px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.8rem;
    width: 100%;
    line-height: 50px;
    border-radius: 4px;
    text-align: center;
    padding: 10px;
    animation: fadein linear .5s;
    display: none;
    z-index: 1;
}

.header__list-info4:hover .header__subsnav4,
.header__list-info3:hover .header__subsnav3 {
    display: block;
}

.content {
    width: 100%;
    height: 1200px;
    background-color: #fff;
}


/* nav dieu hong  */

.content {
    padding-top: 100px;
}

.content__navbar {
    height: 1000px;
    margin-top: 100px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
}

.content__navbar-menu {
    font-size: 2.2rem;
    padding: 20px;
    font-weight: 700;
    color: #fff;
    font-style: italic;
    border-bottom: 1px solid rgb(187, 81, 81);
}

.content__navbar-menu:hover {
    color: var(--text-color);
    cursor: pointer;
    font-style: normal;
}

.content__navbar-list li a {
    display: block;
    padding: 20px;
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.8rem;
}

.content__navbar-list li a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}


/* hieu ung hover button  */


/* phan hieu ung dung chung  */

.content__navbar-list li span {
    display: block;
    position: absolute;
    background-color: rgba(173, 195, 237, 0.5);
}

.content__navbar-list li {
    position: relative;
}

.content__navbar-list li span:nth-child(1) {
    width: 1px;
    height: 100%;
    left: 0;
    bottom: 0;
    transition: .5s;
    transform-origin: top;
    transform: scaleY(0);
}

.content__navbar-list li:nth-child(2):hover span:nth-child(1),
.content__navbar-list li:nth-child(3):hover span:nth-child(1),
.content__navbar-list li:nth-child(4):hover span:nth-child(1),
.content__navbar-list li:nth-child(1):hover span:nth-child(1) {
    transform: scaleY(1);
    transform-origin: bottom;
}

.content__navbar-list li span:nth-child(2) {
    width: 100%;
    height: 1px;
    left: 0;
    top: 0;
    transition: .5s;
    transform-origin: left;
    transform: scaleX(0);
}

.content__navbar-list li:nth-child(2):hover span:nth-child(2),
.content__navbar-list li:nth-child(3):hover span:nth-child(2),
.content__navbar-list li:nth-child(4):hover span:nth-child(2),
.content__navbar-list li:nth-child(1):hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: right;
}

.content__navbar-list li span:nth-child(3) {
    width: 1px;
    height: 100%;
    right: 0;
    top: 0;
    transition: .5s;
    transform-origin: bottom;
    transform: scaleY(0);
}

.content__navbar-list li:nth-child(2):hover span:nth-child(3),
.content__navbar-list li:nth-child(3):hover span:nth-child(3),
.content__navbar-list li:nth-child(4):hover span:nth-child(3),
.content__navbar-list li:nth-child(1):hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: top;
}

.content__navbar-list li span:nth-child(4) {
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    transition: .5s;
    transform-origin: right;
    transform: scaleX(0);
}

.content__navbar-list li:nth-child(2):hover span:nth-child(4),
.content__navbar-list li:nth-child(3):hover span:nth-child(4),
.content__navbar-list li:nth-child(4):hover span:nth-child(4),
.content__navbar-list li:nth-child(1):hover span:nth-child(4) {
    transform: scaleX(1);
    transform-origin: left;
}


/* susb nav bar row  */

.content__susnavbar {
    width: 100%;
}

.grid__row-space-bt li {
    display: block;
    text-align: center;
    width: 100%;
    line-height: 40px;
    color: var(--text-color);
    font-weight: 600;
    font-size: 2rem;
    text-shadow: 2px 1px 0px #a46262, 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.grid__row-space-bt .grid__column-2-5:hover .content__susnavbar {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}


/* cssphan nav bar chuyen doi anh  */

.content__items {
    width: 100%;
    width: 100%;
    text-align: center;
    position: relative;
    display: none;
}

.content__items-img {
    margin-top: 100px;
    width: 500px;
    height: 600px;
    transition: all .4s ease-in-out;
}

.content__ders {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 3px;
    color: var(--text-color);
    transition: all .4 ease-in-out;
    opacity: 0;
}

.content__items-img:hover {
    transform: scale(1.2);
}

.content__items:hover .content__ders {
    opacity: 1;
    bottom: 40%;
}


/* tasbak scroll */

.taskbar--active {
    background-color: rgba(0, 0, 0, 0.3);
    border: rgba(173, 195, 237, 0.5) solid 1px;
}

.content__item-p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.3);
}


/* input css */

.input {
    padding-bottom: 20px;
    background-color: #a46262;
}

.input-form {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

#input-content {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 2rem;
    color: var(--text-color);
    font-weight: bolid;
    width: 100%;
}

.input-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#input-content-btn {
    color: var(--white-color);
    font-size: 2rem;
    font-weight: bolid;
    padding: 20px 40px;
    display: block;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
}

#input-content-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    color: var(--text-color);
}


/* footer  */

.footer {
    padding: 20px 0;
    background-color: #a46262;
}

.footer__license {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #ccc;
    height: 40px;
    line-height: 40px;
    font-size: 1.8rem;
}