/* css in pc  */

@media (min-width: 1024px) {
    #header .mobie-menu {
        display: none;
    }
}


/* css in tablet */

@media (min-width: 740px) and (max-width: 1023px) {
    #header .mobie-menu {
        display: none;
    }
}


/* css in mobie */

@media(max-width:740px) {
    #header {
        overflow: hidden;
    }
    #header .header-search {
        display: none;
    }
    #header .mobie-menu {
        position: absolute;
        top: 0;
        right: 0;
    }
    .nav {
        display: block;
    }
    .nav>li {
        display: block;
    }
    .nav>li:first-child {
        display: inline-block;
    }
    .nav .subsnav {
        position: initial;
        background-color: #ccc;
    }
    .nav .subsnav a {
        color: #fff;
        padding: 0 40px;
    }
    #content .member-item {
        width: 100%;
        margin-top: 30px;
    }
    #content .member-avratar {
        width: 60%;
    }
    #content .place-item {
        width: 100%;
        margin-top: 32px;
    }
    .full-width {
        width: 100%!important;
    }
    .center-item {
        text-align: center!important;
    }
    .contact .contact-input-alone {
        margin: 10px 0;
    }
    .contact-information .contact-text {
        margin-bottom: 30px;
    }
    .contact .contact-send {
        border-radius: 26px;
    }
}


/* tablet and mobile  */

@media (max-width: 1023px) {
    #content .col-place-buy-ticket {
        padding: 15px 16px;
    }
    .col-input {
        padding: 15px;
    }
    .footer-body .footer-icon-app i {
        margin: 0 8px;
        font-size: 40px;
        line-height: 60px;
    }
    .footer-title-last {
        font-size: 40px;
        padding-top: 10px;
    }
    .footer-body .footer-title-last a {
        font-size: 30px;
    }
}