:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: rgb(144, 134, 134);
    --header-color: #999;
    --primary-color: #EE4D2D;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    user-select: none;
}

.grid {
    min-width: 119.2rem;
    width: 100%;
    padding: 0 10% 0 10%;
}

.grid_full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column_2 {
    /* margin: 5px; */
    width: 16.666667%;
    padding-left: 5px;
    padding-right: 5px;
}

.grid__column_10 {
    width: 83.3333334%;
    /*    margin: 5px; */
    padding-left: 5px;
    padding-right: 5px;
}

.grid__column-2-4 {
    width: 20%;
    padding-left: 12px;
    padding-right: 12px;
    flex-wrap: wrap;
}

.container__navbar {
    background-color: var(--white-color);
    margin-right: 10px;
    padding: 18px;
}

.common-point--padding-right {
    padding-right: 1.5rem;
}


/* animation */

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* đống mở đang nhâpj và đang kí  */

.close {
    display: none!important;
}


/* margin left  */

.margin__common {
    margin-left: 20px;
}

.clear {
    clear: both;
}


/* directional */

.home__product-directional {
    width: 100%;
    margin: 20px 0;
}

.home__product-directional-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__product-directional-list a {
    display: block;
    width: 40px;
    height: 30px;
    line-height: 30px;
    font-size: 1.6rem;
    margin: 0 20px;
    font-weight: 600;
}

.directional--active {
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: center;
}

.directional--active:hover {
    opacity: 0.7;
}


/* huu tai dep tai */